<div class="row">
    <div class="col">
        <table>
            <tr style="background-color: rgb(161, 181, 181); font-weight: 700;">
                <td>Folio</td>
                <td>Fecha</td>
                <td>Archivo</td>
                <td>Opciones</td>
            </tr>
            <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>12908334</td>
                <td>12/03/2022</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Ver</button>
                    <button class="btn btn-primary">Editar</button>
                </td>
            </tr>
        </table>
    </div>
</div>