<!-- Módulo de registro de usuario nuevo -->
<div>
    <h2 class="section-header-left">Crear Usuario</h2>
    <br>
    <form action="" class="user-form">
        <label for="name">Nombre de Usuario</label><br>
        <input type="text" id="name"><br>
        <label for="password">Contrase&ntilde;a</label><br>
        <input form="password" id="password"><br>
        <label for="passwordVerify">Verificar contrase&ntilde;a</label><br>
        <input form="passwordVerify" id="passwordVerify"><br>
        <label for="userType">Tipo de usuario</label><br>
        <select id="userType" name="userType">
            <option value="user1">Administrador</option>
            <option value="user2">Consulta</option>
            <option value="user3">Captura</option>
        </select>
        <input type="submit" value="Crear usuario"><br>
    </form>
    <br>
    <p class="return-left">Regresar</p>
</div>