<!--Modulo de registro de usuario-->
<div class="header">
  <p>
    <mat-toolbar>
      <span>Arjamex - Opini&oacute;n positiva</span>
    </mat-toolbar>
  </p>
</div>
<div class="body">
  <div class="login">
    <h4>Registrar usuario</h4>
    <br />
    <p class="classlogin">Nombre de Usuario</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
    <p class="classlogin">Contrase&ntilde;a</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Contrase&ntilde;a</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <br />
    <p class="classlogin">Confirmar Contrase&ntilde;a</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Contrase&ntilde;a</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <br />
    <p class="classlogin">Seleccionar tipo de Usuario</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Contrase&ntilde;a</mat-label>
      <mat-select id="userType" name="userType">
        <mat-option value="user1">Administrador</mat-option>
        <mat-option value="user2">Consulta</mat-option>
        <mat-option value="user3">Captura</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btnStyle">
      Crear Usuario
    </button>
  </div>
</div>
