<!--Modulo de registro de proveedor-->
<div class="body">
    <div class="login">
      <h4>Nueva Factura</h4>
      <br />
      <p class="classlogin">Folio</p>
      <mat-form-field class="width-100" appearance="fill">
        <mat-label>Folio</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <p class="classlogin">Fecha de Factura Efectuada</p>
      <mat-form-field class="width-100" appearance="fill">
        <mat-label>Factura Efectuada</mat-label>
        <input type="date" matInput />
      </mat-form-field>
      <br />
      <p class="classlogin">Archivo PDF</p>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      <br />
      <button mat-raised-button color="primary" class="btnStyle">
        Guardar
      </button>
    </div>
  </div>
  