<div class="row">
    <div class="col-xs-12">
        <table>
            <tr style="background-color: rgb(161, 181, 181); font-weight: 700;">
                <td>Nombre</td>
                <td>RFC</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>Archivo</td>
                <td></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
                <td>6647689071</td>
                <td>000.pdf</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
            </tr>
        </table>
    </div>
</div>