<div class="header">
  <p>
    <mat-toolbar>
      <span>Arjamex - Opini&oacute;n positiva</span>
    </mat-toolbar>
  </p>
</div>
<div class="body">
  <div class="login">
    <img src="../../assets/img/avatar.png" class="userImage" />
    <h1></h1>
    <br />
    <p class="classlogin">Nombre de Usuario</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput autocomplete="off" />
    </mat-form-field>
    <p class="classlogin">Contrase&ntilde;a</p>
    <mat-form-field class="inputWidth" appearance="fill">
      <mat-label>Contrase&ntilde;a</mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" class="btnStyle">
      Crear Usuario
    </button>
    <button mat-raised-button color="primary" class="btnStyle">
      Iniciar sesi&oacute;n
    </button>
  </div>
</div>
